* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: blanchedalmond;
}

.transit-animation {
    transition: opacity 0.5s ease-in-out;
}

.cards-container {
    margin: auto;
    margin-top: 30px;
    width: 35%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.row {
    perspective: 1000px;
    background-color: transparent;
}

.cards-container.is-playing {
    opacity: 1;
    pointer-events: auto;
}

.cards-container .row {
    margin-bottom: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
}

.cards {
    position: relative;
    aspect-ratio: 3/4;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.cards.is-locked {
    pointer-events: none;
    background: #cccccc;
    color: #cccccc;
    opacity: 0.6;
}

.flipped-card {
    transform: rotateY(180deg);
}

.match-card {
    pointer-events: none;
    opacity: 0;
    transition: transform 0.8s, opacity 0.8s;
}

.cover,
.hero {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    border-radius: 8px;
    backface-visibility: hidden;
}

.hero {
    transform: rotateY(180deg);
}

.timer-div {
    font: italic bold 18px Arial, sans-serif;
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.countdown-bar {
    margin-top: 12px;
    width: 100%;
    height: 10px;
    background: darkred;
    border: 2px solid white;
    transition: width 1s linear;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 20px;

    padding: 16px 32px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;
    border: 2px solid #04AA6D;
    transition-duration: 0.4s;
}

.button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    background-color: white;
    color: black;
}

/* Pseudo class */
.button:not(:disabled):hover {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
}

@keyframes blinkPlayButton {
    0% {
        background-color: white;
        color: black;
    }

    50% {
        background-color: #04AA6D;
        color: white;
    }

    100% {
        background-color: white;
        color: black;
    }
}

.is-blinking {
    animation: blinkPlayButton 0.5s infinite;
}